@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  background: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  width: 500px;
  padding: 30px;
  background: linear-gradient(135deg,rgb(38, 135, 246),rgb(12, 12, 217));
  border-radius: 20px;
}
.input-box{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  gap: 15px;
  /* border: 1px solid black; */
  overflow: hidden;
  margin-top: 45px;
}

.input-box input{
  flex: 1;
  background: transparent;
  height: 100%;
  padding: 0 25px;
  border: 0;
  outline: 0;
  font-size: 18px;
  background: white;
  border-radius: 25px;

  
}

.input-box button{
  height: 100%;
  width: 50px;
  border-radius: 50%;
  border: 0;
  outline: 0;
  background: white;
  color: black;
  transition: 0.3s;
  font-size: 18px;

}
.input-box button:hover{
  cursor: pointer;
  opacity: 0.8;
}

.weather-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: -15px;
  width: 100%;
}

.weather-box img{
  width: 180px;
}
.weather-box h2{
  font-size: 45px;
  color: white;
  line-height: 45px;
}

.weather-box h3{
  font-size: 30px;
  color: white;
  line-height: 30px;
}

.add-info{
  display: flex;
  width: 100%;
  /* height: 200px; */
  padding: 25px 0;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}

.humidity-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: white;
  flex-basis: 50%;
}
.wind-box{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: white;
  flex-basis: 50%;
}
